{% extends 'base.html.twig' %}
{% block title%}
	Page Ajouter Ac
{% endblock %}
{% block body %}
	{# {{ form_start(form) }}
																							
																							
								{{ form_end(form) }} #}
	{{ form(form) }}
		{# <div class="d-grid gap-2">
													<button type="button" name="" id="" class="btn btn-danger btn-xs" style="width:6rem">Save</button>
										
												</div> #}

	{% endblock %}
